* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;

}

.progressbar {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 10px;
    background-image: linear-gradient(to right, red , transparent );
  }
  
main {
  margin: auto;
  width: 700px;
  min-height: 10000vh;
}

.content {
  padding-top: 10px;
}

